@charset "utf-8";

body 
{
	color: #000;
	background-color: #FFF;
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size:0.9em;

}

h1
{
	font-family: Helvetica Neue, Helvetica, Arial,  sans-serif;
	font-size:1.4em;
	padding-bottom:0.2em;
	margin-top:0px;
	margin-bottom:0.5em;
	color:#84cf40;
	border-bottom: 1px dashed #AAA;
}

h2
{
	font-family: Helvetica Neue, Helvetica, Arial,  sans-serif;
	font-size:1.0em;
	padding-bottom:0.2em;
	margin-top:0px;
	margin-bottom:0.5em;
	color:#84cf40;
}

a
{
	color:#108F00;
	text-decoration: none;
}

a:hover
{
	color:#108F00;
	text-decoration: underline;
}

a:visit
{
	color:#108F00;
}

div#copyright
{
	text-align:center;
	font-size:small;
	clear: both;
}

div#content
{
	width:750px;
	margin-left: auto;
	margin-right: auto;
}

ul
{
	margin-top:0;
	margin-bottom:0;
}

div#lacewing
{
	margin-left: auto;
	margin-right: auto;
	background: url(lacewing.png) no-repeat;
	width: 414px;
	height: 150px;
}


