@charset "utf-8";

body 
{
	color: #000;
	background-color: #FFF;
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size:0.9em;

}

h1
{
	font-family: Helvetica Neue, Helvetica, Arial,  sans-serif;
	font-size:1.4em;
	padding-bottom:0.2em;
	margin-top:0px;
	margin-bottom:0.5em;
	color:#84cf40;
	border-bottom: 1px dashed #AAA;
}

h2
{
	font-family: Helvetica Neue, Helvetica, Arial,  sans-serif;
	font-size:1.0em;
	padding-bottom:0.2em;
	margin-top:0px;
	margin-bottom:0.5em;
	color:#84cf40;
}

a
{
	color:#108F00;
	text-decoration: none;
}

code
{
	color:#575;
}

a:hover
{
	color:#108F00;
	text-decoration: underline;
}
a:visit
{
	color:#108F00;
}

div#nav li a
{
	display:block;
}

div#nav li a:hover
{
	text-decoration: none;
}

div#container
{
	width:1000px;
}

div#copyright
{
	text-align:center;
	font-size:small;
	clear: both;
}

div#nav
{
	width: 230px;
	margin-right:20px;
	float:left;
}

div#content
{
	width:750px;
	color:#000;	
	float:right;
}

div.bottom
{
	clear: both;
	height: 15px;
}

div#nav ul
{
	padding-left: 10px;
	padding-bottom: 7px;
}

div#nav ul li
{
	list-style-type: none;
	padding-bottom: 2px;
	padding-left: 3px;
}

div#nav ul li.nav_item
{
	border-bottom: 1px #DDD dashed;
	border-left: 1px #DDD dashed;
}

div#nav ul li:hover
{
	background-color: #F5F5F5;
}

li.nav_class
{
	font-weight: bold;
}

li.nav_header
{
	background-color: #F5F5F5;
	font-weight: bold;
	border: 1px #AAA solid;
}

div#nav div.header
{
	border-bottom: 1px black solid;
	font-weight: bold;
}

div#nav ul li.selected
{
	background-color: #F5F5F5;
}

div.notice
{
	border: 1px dashed black;
	background-color: #FFFBCB;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.warning
{
	border: 1px dashed black;
	background-color: #FFD5D5;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}

img
{
	border:0;
	padding:10px;
}

ul
{
	margin-top:0;
	margin-bottom:0;
}

div.sectionBody
{
	margin-left: 15px;
}

div.parameterDesc
{
	margin-left: 15px;
	margin-top: 10px;
}

table.code
{
	width: 100%;
}

table.code td
{
	background: #EEE;
	padding: 0px;
	text-align: left;
}

table.code td.lang
{
	background: #CCC;
	text-align: center;
	width: 70px;
}

table.code td.code
{
	padding-left: 5px;
}

table.code a
{
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	color: #A00;
}

table.code a:hover
{
	font-weight: bold;
	text-decoration: underline;
}

pre.code
{
	background: #CCC;
	padding: 6px;
}

div#source
{
	float: right;
	padding-bottom: 2px;
}

div#source a
{
	font-weight: bold;
}

div#parent
{
	float: left;
	padding-bottom: 2px;
}

div#parent a
{
	font-weight: bold;
}

ul.padded li
{
	padding-bottom: 10px;
}

